mat-card{
    margin-top: 10px;
    height: 100%;
    box-shadow: 20px 20px 18px 20px #1e1a1a;
    border-radius: 1px;
    background: linear-gradient(90deg, rgb(214, 173, 192)0%, rgb(184, 184, 202)35%, rgb(17, 67, 77)100%);
}
input{
    padding-right: 80px;
    padding-top: 3px;
}