mat-card{
    margin-top: 10px;
    width: 50%;
    height: 100%;
    box-shadow: 20px 20px 18px 20px #1e1a1a;
    color: black;
    background: linear-gradient(90deg, rgb(248, 232, 225)0%,rgb(241, 230, 164))35%, rgb(238, 127, 170)100%;
    background: transparent;
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: white;
    border-radius: 0.5rem;
}
h4{
    background: transparent;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: rgb(231, 230, 230);
    background-color:rgb(231, 230, 230) ;
    border-radius: 0.5rem; 
}
