<app-header></app-header>
<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control m-4 p-2" placeholder="Find your Job Here" [(ngModel)]="filterString" >
  </div>
    <div class="row" *ngFor="let job of jobs  | filter:filterString">
      <div class="col m-2">
        <mat-card>
          <mat-card-content>
            <h1>{{job.jobTitle}}</h1>
            <h4>Company : {{job.companyName}}</h4>
            <h4>Place : {{job.location}}</h4>
            <h4>Qualification : {{job.qualification}}</h4>
            <h4>Experience : {{job.experience}}</h4>
            <h4>ClosingDate : {{job.closingDate|date}}</h4>
            <h4>Salary-Range : {{job.salaryRange}}</h4>
            
          <!-- Button trigger modal -->
<button type="button" class="btn btn-light" (click)="apply()"tyle="background-color:rgb(148, 126, 144)" >
  Apply
</button>


           </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>
