
a:hover{
  background-color: white;
  color: #3f51b5;
}
button{
  margin-left: 10px;
  margin-right: 5px;
}
button:hover{
  background-color: white;
  color: black;
}
h4{
  color:rgb(14, 13, 13);
  font-weight: 500;
  font-size: 18px;
}
mat-menu{
  padding-right: 20px;
}
nav{
 
  background: linear-gradient(90deg, rgb(231, 176, 204)0%, rgb(111, 111, 175)35%, rgb(104, 193, 211)100%);
  
}
.logo{

   display: block;
   max-width:100px;
   max-height:50px;
   scale:5;
   aspect-ratio: auto;
   padding-left: 20px;
   /* border: 1px solid red; */
}

  .form-control{
    background:transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid rgb(218, 211, 211);
    margin-top: 10px;
    height: 40px;
    color: black;
   }
   select{
    margin-top: 19px;
    color: rgb(128, 121, 121);
   }
  h3{
    font-weight: 600;
  }
  h1{
    font-size: 28px;
    color:rgb(29, 27, 27);
    font-weight: 400;
  }
  h2{
    font-size: 25px;
  }
  p{
    font-size: 16px;
  }
  mat-card{
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: white;
    border-radius: 0.5rem;
  }