<app-header></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" opened>
    <app-side-navbar></app-side-navbar>
    </mat-drawer>
    <mat-drawer-content>
        
             <mat-card class="m-3">
                <mat-card-content style="color:rgb(53, 53, 139)" class="fw-bold" >JOB TITLE</mat-card-content>
                <mat-card-content style="color:rgb(53, 53, 139)" align="justify">Are you looking for more than a job? Do you want to advance 
                    your career as you work to create tangible, meaningful, and inclusive impact,
                     both inside and outside the walls of your workplace? Sounds like we’ve
                      got a lot in common. See how we can support your professional 
                      goals and help you find opportunities based on your strengths while 
                      advancing our shared values.</mat-card-content>
                      <button mat-stroked-button color="primary">Find Jobs</button>
            </mat-card> 
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
  
