
<mat-toolbar class="navbar" style="background-color:rgb(134, 216, 134)">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div class="ms-auto">
            <button mat-stroked-button color="basic" class="m-1">Saved Jobs</button>
            <button mat-stroked-button color="basic" routerLink="/appliedjobs" class="m-1">Applied Jobs</button>
            <button mat-stroked-button color="basic" class="m-1">Logout</button>
        </div>
</mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:88vh;">
            <mat-card class="m-3" style="background-color: rgb(233, 233, 239)">
                <div class="container">
                    <h2 style="color:rgb(7, 7, 8)" class="fw-bold" >JOB TITLE</h2>
                    <p style="color:rgb(15, 15, 16)" align="justify">Are you looking for more than a job? Do you want to advance 
                        your career as you work to create tangible, meaningful, and inclusive impact,
                         both inside and outside the walls of your workplace? Sounds like we have
                          got a lot in common. See how we can support your professional 
                          goals and help you find opportunities based on your strengths while 
                          advancing our shared values.</p>
                    <button mat-stroked-button routerLink="/alumniviewjobs" style="background-color:rgb(130, 154, 164)">Find Jobs<mat-icon>arrow_forward</mat-icon></button>
                </div>
            </mat-card> 
            
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
