
        <div class="profile-card">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
            <div class="header">
                <h3></h3>
                <h4></h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/alumnidashboard"><mat-icon>dashboard_outline</mat-icon>Dashboard</a>
            <a mat-list-item routerLink="/profile"><mat-icon>person_outline</mat-icon>Profile</a>
            <a mat-list-item routerLink="/general-information"><mat-icon>book_outline</mat-icon>General Information</a>
            <a mat-list-item routerLink="/education"><mat-icon>school_outline</mat-icon>Education</a>
            <a mat-list-item routerLink="/experiences"><mat-icon>work_outline</mat-icon>Experience</a>
            
        </mat-nav-list>
