<mat-nav-list class="p-2" style="background-color:rgb(216, 215, 221)">
    <mat-card>
        <div class="profile-card">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
            <div class="header">
                <h3>SHERIN THOMAS</h3>
                <h4>sherinthomas@gmail.com</h4>
            </div>
        </div>
    
        <mat-divider></mat-divider>
      
            <mat-card-content>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="">Dashboard</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">Profile</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="general-information">General Information</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="education">Education</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="experiences">Experience</a>
                
            </mat-card-content>
       
    </mat-card>
    
    
</mat-nav-list>