
      
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/alumnidashboard"><mat-icon>dashboard_outline</mat-icon>Profile</a>
            <a mat-list-item routerLink="/alumniviewjobs"><mat-icon>dashboard_outline</mat-icon>View Jobs</a>
            <a mat-list-item routerLink="/appliedjobs"><mat-icon>dashboard_outline</mat-icon>Applied Jobs</a>
            <a mat-list-item routerLink=""><mat-icon>dashboard_outline</mat-icon>Logout</a>
        </mat-nav-list>
