
<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav-content>
        <div style="height:88vh;">
            <div class="container">
                <mat-card-content class="m-2">
                    <mat-card>
                        <section>
                            <form class="p-1" #personalForm="ngForm" (ngSubmit)="onsubmit()">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-card>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h2 class="text-center" style="color:rgb(131, 131, 134)">Job
                                                                Seeker General
                                                                Information</h2>
                                                            <div class="card-body">

                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12">
                                                                        <input type="text" class="form-control"
                                                                            name="name" placeholder="Name"
                                                                            [(ngModel)]="data.name" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12">
                                                                        <input type="email" class="form-control"
                                                                            name="email" placeholder="Email Address"
                                                                            [(ngModel)]="data.email" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12">
                                                                        <input type="number" class="form-control"
                                                                            name="phone" placeholder="Phone Number"
                                                                            [(ngModel)]="data.phone" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-3 form-group">
                                                                    <div class="col-md-3">
                                                                        <label for="">Gender</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-check">

                                                                            <label class="form-check-label" for="male">
                                                                                <input class="form-check-input"
                                                                                    type="radio" name="gender"
                                                                                    id="gender" value="Male"
                                                                                    [(ngModel)]="data.gender" checked>
                                                                                Male
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-check">

                                                                            <label class="form-check-label"
                                                                                for="female">
                                                                                <input class="form-check-input"
                                                                                    type="radio" name="gender"
                                                                                    id="gender" value="Female"
                                                                                    [(ngModel)]="data.gender">
                                                                                Female
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-check">

                                                                            <label class="form-check-label" for="other">
                                                                                <input class="form-check-input"
                                                                                    type="radio" name="gender"
                                                                                    id="gender" value="Other"
                                                                                    [(ngModel)]="data.gender">
                                                                                Other
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-4 mt-4">
                                                                        <label style="color: rgb(61, 56, 56)">Date of
                                                                            Birth: </label>
                                                                            <p>{{data.date_of_birth | date}}
                                                                    </div>
                                                    
                                                                    <div class="col-md-8">
                                                                        <input type="date" class="form-control"
                                                                            name="date_of_birth"
                                                                            [(ngModel)]="data.date_of_birth">
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12">
                                                                        <select class="form-select"
                                                                            aria-label="Default select example" id="marital_status"
                                                                            for="marital_status" name="marital_status"
                                                                            [(ngModel)]="data.marital_status">
                                                                            <option value="Married">Married</option>
                                                                            <option value="Unmarried">Unmarried</option>
                                                                            <option value="Divorced">Divorced</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-card>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h2 class="text-center" style="color:rgb(131, 131, 134)">
                                                                Communication Details
                                                            </h2>
                                                            <div class="card-body">
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12 mb-1">
                                                                        <textarea name="address" class="form-control"
                                                                            placeholder="Permanent Address"
                                                                            [(ngModel)]="data.permanent_address"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12 mb-1">
                                                                        <input type="number" class="form-control"
                                                                            name="alternatenumber"
                                                                            placeholder="Alternate Phone Number"
                                                                            [(ngModel)]="data.alternate_phone_number">
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12 mb-1">
                                                                        <input type="number" class="form-control"
                                                                            name="pincode" placeholder="Pincode"
                                                                            [(ngModel)]="data.pincode">
                                                                    </div>
                                                                </div>
                                                                <div class="row m-2 form-group">
                                                                    <div class="col-md-12 ">
                                                                        <input type="text" class="form-control"
                                                                            name="district" placeholder="District"
                                                                            [(ngModel)]="data.district">
                                                                    </div>
                                                                </div>
                                                                <div class="row m-1 form-group">
                                                                    <div class="col-md-12 mb-1">
                                                                        <input type="text" class="form-control"
                                                                            name="state" placeholder="State"
                                                                            [(ngModel)]="data.state">
                                                                    </div>
                                                                </div>
                                                                <div class="row m-2 form-group">
                                                                    <div class="col-md-12">
                                                                        <input type="text" class="form-control"
                                                                            name="country" placeholder="Country"
                                                                            [(ngModel)]="data.country">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 text-center m-2 ps-3 pe-3">
                                                <button type="submit" class="btn btn-secondary">Save</button>
                                                <button type="reset" class="btn btn-secondary m-2 ">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </mat-card>
                </mat-card-content>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>