:host{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
    mat-drawer{
      width: 300px;
    }
    mat-drawer-container{
      height: 98%;
      margin-left: 5px;
    }
    mat-drawer-content{
      padding: 5px;
    }
   
 .form-control{
  background:transparent;
  border-radius: 0px;
  border:0px;
  border-bottom: 1px solid rgb(218, 211, 211);
  margin-top: 10px;
  height: 40px;
  color: black;
 }
 select{
  margin-top: 19px;
  color: rgb(128, 121, 121);
 }
 button{
  border: 1px solid rgb(168, 154, 154);
  padding-right: 70px;
  padding-left: 70px;
  border-radius: 70px;
 }
 button:hover{
  border-color: rgb(143, 134, 134);
  background-color: rgb(240, 233, 233);
 }