<nav class="navbar navbar-light" style="background-color:rgb(134, 216, 134)">
    <div class="container-fluid p-1">
      <div class="ms-auto">
        <button mat-stroked-button color="basic" (click)="back()">Home</button>
        <button mat-stroked-button color="basic" class="m-2 me-4" routerLink="">Logout</button>
      </div>
    </div>
  </nav>


<mat-sidenav-container>
    <mat-sidenav-content>
        <div style="height:88vh;">
            <div class="container">
                <mat-card-content class="m-2">
                    <mat-card>
                        <section>
                            <form class="p-1" #personalForm="ngForm" (ngSubmit)="onsubmit()">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                       <mat-card>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h2 class="text-center" style="color:rgb(131, 131, 134)">Job Seeker General
                                                        Information</h2>
                                                    <div class="card-body">
                                                       
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" name="name"
                                                                        placeholder="Name"  [(ngModel)]="data.name" >
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="email" class="form-control" name="email"
                                                                        placeholder="Email Address"  [(ngModel)]="data.email">
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="number" class="form-control" name="phone"
                                                                        placeholder="Phone Number"  [(ngModel)]="data.phone">
                                                                </div>
                                                            </div>
                                                            <div class="row m-3 form-group">
                                                                <div class="col-md-3">
                                                                    <label for="">Gender</label>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="gender" id="male" value="option1"  [(ngModel)]="data.gender"
                                                                            checked>
                                                                        <label class="form-check-label" for="exampleRadios1">
                                                                            Male
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" 
                                                                            name="gender" id="female"
                                                                            value="option2" [(ngModel)]="data.gender">
                                                                        <label class="form-check-label" for="exampleRadios2">
                                                                            Female
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="gender" id="other"
                                                                            value="option3" [(ngModel)]="data.gender">
                                                                        <label class="form-check-label" for="exampleRadios3">
                                                                            Other
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-4 mt-4">
                                                                    <label style="color: rgb(61, 56, 56)">Date of Birth :</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="date" class="form-control" name="dob"  [(ngModel)]="data.date_of_birth" >
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="data.martial_status">
                                                                        <option selected>Martial Status</option>
                                                                        <option value="1">Married</option>
                                                                        <option value="2">Unmarried</option>
                                                                        <option value="3">Divorced</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-card>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h2 class="text-center" style="color:rgb(131, 131, 134)">Communication Details
                                                    </h2>
                                                    <div class="card-body">
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <textarea name="address" class="form-control"
                                                                        placeholder="Permanent Address" [(ngModel)]="data.permanent_address"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="number" class="form-control" name="alternatenumber"
                                                                        placeholder="Alternate Phone Number" [(ngModel)]="data.alternate_phone_number">
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="number" class="form-control" name="pincode"
                                                                        placeholder="Pincode" [(ngModel)]="data.pincode">
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" name="district"
                                                                        placeholder="District" [(ngModel)]="data.district">
                                                                </div>
                                                            </div>
                                                            <div class="row m-1 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" name="state"
                                                                        placeholder="State" [(ngModel)]="data.state">
                                                                </div>
                                                            </div>
                                                            <div class="row m-2 form-group">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" name="country"
                                                                        placeholder="Country" [(ngModel)]="data.country">
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                    </div>
                              
                                    <div class="row">
                                        <div class="col-md-12 text-center m-2 ps-3 pe-3">
                                            <button type="button" class="btn btn-light">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </section>
                    </mat-card>
                    </mat-card-content>
            </div>
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>

   