footer{
    text-align: center;
    background: linear-gradient(90deg, rgb(112, 93, 102)0%, rgb(123, 123, 148)35%, rgb(17, 67, 77)100%);
    padding-top: 20px;
}
mat-icon{
    border:1px solid white;
    background-color: white;
    width: 35px;
    height: 27px;
}