

    <mat-card class="m-2">
        <section>
            <div class="container">
                <table class="table">
                    <thead style="font-size: 15px">
                      <tr>
                        <th scope="col">SNo</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Institution</th>
                        <th scope="col">Year of passing</th>
                        <th scope="col">Percentage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </section>
    </mat-card>
    <mat-card class="m-2">
      <div>
        <h2 class="text-center" style="color:rgb(82, 82, 90)">Education Details</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="qualification" placeholder="Qualification">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="status" placeholder="Completion Status">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="stream" placeholder="Main Stream">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" name="specialization" placeholder="Specialization">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" name="college" placeholder="University/Institute/Board">
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" name="percentage" placeholder="Percentage">
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" name="year" placeholder="Year of passing">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center m-4 ps-3 pe-3">
              <button type="button" class="btn btn-light">Save</button>
          </div>
         </div>
      </div>
    </mat-card>
  
