:host{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-sidenav{
    width: 300px;
  }
    .form-control{
        background:transparent;
        border-radius: 0px;
        border: 1px solid rgb(218, 211, 211);
        margin-top: 15px;
        height: 40px;
        border-radius: 10px;
        color: black;
       }
     
       button:hover{
        border-color: rgb(143, 134, 134);
        background-color: rgb(240, 233, 233);
       }
      