
<mat-toolbar class="navbar">
  <mat-toolbar-row>
      <button mat-icon-button>
          <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <div class="ms-auto">
          <button mat-stroked-button color="basic" class="m-1">Saved Jobs</button>
          <button mat-stroked-button color="basic" class="m-1">Applied Jobs</button>
          <button mat-stroked-button color="basic" class="m-1">Logout</button>
      </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <app-side-navbar></app-side-navbar>
</mat-sidenav>
  <mat-sidenav-content>
      <div style="height:88vh;">
      <mat-card class="m-2">
        <div>
          <h2 class="text-center" style="color:rgb(82, 82, 90)">Education Details</h2>
        </div>
        <div class="container">
          <form [formGroup]="educationForm">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" name="qualification" placeholder="Qualification" formControlName="qualification">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="status" placeholder="Completion Status" formControlName="status">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" name="stream" placeholder="Main Stream" formControlName="stream">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="specialization" placeholder="Specialization" formControlName="specialization">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" name="college" placeholder="University/Institute/Board" formControlName="college">
            </div>
            <div class="col-md-3">
              <input type="number" class="form-control" name="percentage" placeholder="Percentage" formControlName="percentage">
            </div>
            <div class="col-md-3">
              <input type="number" class="form-control" name="year" placeholder="Year of passing" formControlName="year">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center m-4 ps-3 pe-3">
                <button type="button" class="btn btn-light">Save</button>
            </div>
           </div>
          </form>
        </div>
      </mat-card>
      </div>    
  </mat-sidenav-content>
</mat-sidenav-container>
    
  
