.spacer{
    flex:1 1 auto;
}
a:hover{
    background-color: white;
    color: #3f51b5;
}
button{
    margin-left: 10px;
}
button:hover{
    background-color: white;
    color: black;
}
h4{
    color: rgb(55, 117, 74);
    font-weight: 500;
}

nav{
    background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgb(44, 38, 41)35%, rgba(9,9,121,1)100%);
    
}
.logo{

     display: block;
     max-width:100px;
     max-height:50px;
     scale:5;
     aspect-ratio: auto;
     padding-left: 20px;
     /* border: 1px solid red; */
}
