.spacer{
    flex:1 1 auto;
}
a:hover{
    background-color: white;
    color: #3f51b5;
}
button:hover{
    background-color: white;
    color: black;
}
h4{
    color: rgb(55, 117, 74);
    font-weight: 500;
}
mat-menu{
    padding-right: 20px;
}
nav{
    padding: 40px;
    background-color: rgb(220, 243, 243);
}