.body{
  width: 100%;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;

}

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    
  }

  fieldset {
    border: none;
    padding: 2rem 0;
    
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }

  input,
  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

  input, textarea {
    background-color: #9b9ba0;
    border: 1px solid #4343f5;
    color: #6d3333;
    outline: none;
  
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #b9b9c2;
    border-color: rgb(127, 85, 85);
    min-width: 300px;
  }