.body{
  width: 100%;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    
  }

  fieldset {
    border: none;
    padding: 2rem 0;
    
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }

  input,
  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

  input, textarea {
    background-color: #a0d0fa;
    /* border: 1px solid #ff487f; */
    color: #141d25;
    outline: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #b9b9c2;
    /* border-color: #E53F71; */
    min-width: 300px;
  }

  .navbar{
    
    background-color:#b5b5f0 !important;
    width: 100% ;
    box-shadow: 1px 1px 10px 2px #fff, -1px 1px 10px 2px #fff ;
  }

  #btn:hover{
    background-color: #221520;
    color:#b9b9c2
  }

  input:focus, textarea:focus{
    box-shadow: 1px 1px 5px 1px #fff, -1px 1px 5px 1px #fff ;
  }

  .logo{
    display: block;
    max-width:70px;
    max-height:50px;
    scale:4;
    aspect-ratio: auto;
    padding-left: 20px;
    /* border: 1px solid red; */
}

.logout{
  margin-left: 15px;
}

.alert{
  border: 1px solid red;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}