.navbar{
    background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgb(44, 38, 41)35%, rgba(9,9,121,1)100%);
    color:aliceblue
}
.spacer{
    flex:1 1 auto;
}
a:hover{
    background-color: white;
    color: #3f51b5;
}
button:hover{
    background-color: white;
    color: black;
}
.editdiv{
    margin-top: 30px;
    padding: 70px;
    
}
