<mat-toolbar class="navbar">
    <div class="spacer"></div>
    <a mat-button routerLink="Home" (click)="backfn()">HOME</a>
    <a mat-button>LOG OUT</a>

  </mat-toolbar>
  <mat-card class="editdiv">
    <mat-card-content>
        <form #editForm="ngForm" (ngSubmit)="update()">
            <div class="row mb-3">
              <label class="form-label">JOB TITLE</label>
              <input type="text" class="form-control" id="jobTitle" name="jobTitle" [(ngModel)]="data.jobTitle" >
            </div>
            <div class="row mb-3">
              <label  class="form-label">COMPANY</label>
              <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="data.companyName">
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label  class="form-label">EDUCATION QUALIFICATION</label>
                    <input type="text" class="form-control" id="qualification" name="qualification" [(ngModel)]="data.qualification">
                </div>
                <div class="col mb-3">
                    <label  class="form-label">JOB SECTOR</label>
                    <input type="text" class="form-control" id="jobSector" name="jobSector" [(ngModel)]="data.jobSector">
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label  class="form-label">LOCATION</label>
                    <input type="text" class="form-control" id="location" name="location" [(ngModel)]="data.location">
                </div>
                <div class="col mb-3">
                    <label  class="form-label">REQUIRED SKILL</label>
                    <input type="text" class="form-control" id="skills" name="skills" [(ngModel)]="data.skills">
                </div>
            </div>
            <div class="row col mb-3">
                <label  class="form-label">JOB DESCRIPTION</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Job description..." name="description" [(ngModel)]="data.description"></textarea>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label  class="form-label">SALARY RANGE</label>
                    <input type="text" class="form-control" id="salaryRange" name="salaryRange" [(ngModel)]="data.salaryRange">
                </div>
                <div class="col mb-3">
                    <label  class="form-label">EXPERIENCE</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="experience" [(ngModel)]="data.experience">
                </div>
            </div>
            <div class="row col mb-3">
                <label  class="form-label">CLOSING DATE</label>
                <input type="date" class="form-control" id="closingDate" name="closingDate" [(ngModel)]="data.closingDate"><br>
                <input id="postedBy" type="hidden" value="employe" name="postedBy" [(ngModel)]="data.postedBy">
            </div> 

            <div class="col mb-3">
                <button type="submit" class="btn btn-primary">update job</button>
                
               
            </div>
            
          </form>
        </mat-card-content>
    </mat-card>
    
