.navbar{
    background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgb(44, 38, 41)35%, rgba(9,9,121,1)100%);
    color:aliceblue
}
.logo{
    display: block;
    max-width:50px;
    scale:4;
    aspect-ratio: auto;
    margin-left: 5%
}
.spacer{
    flex:1 1 auto;
}
a:hover{
    background-color: white;
    color: #3f51b5;
}
button:hover{
    background-color: white;
    color: black;
}
.editdiv{
    margin-top: 30px;
    padding: 30px;
    background-image: linear-gradient(to right top, #eceff2, #e5ebef, #dde7ea, #d5e3e5, #cedfdf);
    box-shadow: 20px 20px 10px grey;
    
}
.form-control{
    
    border-radius: 50px;
}
