<nav class="navbar navbar-light bg-light">
    <div class="container-fluid p-1">
      <div class="ms-auto">
        <button mat-stroked-button color="basic" class="m-1" routerLink="/alumnidashboard">Home</button>
        <button mat-stroked-button color="basic" class="m-2 me-4">Logout</button>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-2">
        <mat-card style="background-color:beige">
          <mat-card-content>
            <h2>{{job.jobTitle}}</h2>
            <h4>Company : {{job.companyName}}</h4>
            <h4>Place : {{job.location}}</h4>
            <h4>Qualification : {{job.qualification}}</h4>
            <h4>Experience : {{job.experience}}</h4>
            <h4>ClosingDate : {{job.closingDate|date}}</h4>
            <h4>Salary-Range : {{job.salaryRange}}</h4>
            <h4>Skills : {{job.skills}}</h4>
            <h4>Description : {{job.description}}</h4>
            <button type="button" class="btn btn-light" style="background-color:rgb(136, 167, 136)" >Apply</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
