<nav class="navbar navbar-light bg-light">
    <div class="container-fluid p-1">
      <div class="ms-auto">
        <button mat-stroked-button color="basic" class="m-1" routerLink="/alumnidashboard/:id">Home</button>
        <button mat-stroked-button color="basic" class="m-2 me-4">Logout</button>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row" *ngFor="let job of jobs">
      <div class="col-md-12 m-2">
        <mat-card style="background-color:beige">
          <mat-card-content>
            <h2>{{job.jobTitle}}</h2>
            <h4>Company : {{job.companyName}}</h4>
            <h4>Place : {{job.location}}</h4>
            <h4>Qualification : {{job.qualification}}</h4>
            <h4>Experience : {{job.experience}}</h4>
            <h4>ClosingDate : {{job.closingDate}}</h4>
            <h4>Salary-Range : {{job.salaryRange}}</h4>
            <h4>Skills : {{job.skills}}</h4>
            <h4>Description : {{job.description}}</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-light" style="background-color:rgb(136, 167, 136)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Apply
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form  [formGroup]="form">
                    <div class="modal-body">
                     <div class="m-2 form-group">
                      <input class="form-control" type="file" id="formFile"  formControlName="resume_file_upload" (change)="fileselect($event)"/>
                      <h1 class="m-2">&</h1>
                      <input type="text" placeholder="Profile Link" formControlName="profile_link"  >
                      <input class="form-control" type="file" id="formFile"  requiredFileType="flie/pdf" formControlName="resume_file_upload" (change)="fileselect($event)">
                      <input type="text"  class="form-control" placeholder="Profile Link" name="profile_link"  >
                     </div>
                    </div>
                    <div class="modal-footer">
                      <button  class="btn btn-primary" (click)="onSubmit()">Save</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>