.navbar{
    background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgb(44, 38, 41)35%, rgba(9,9,121,1)100%);
    
}
.logo{
    display: block;
    max-width:50px;
    scale:4;
    aspect-ratio: auto;
    margin-left: 5%
}
.row{
    margin-top: 100px;
}
.spacer{
    flex:1 1 auto;
}

.head{
    width: 25%;
    height: 100%;
    position: fixed;
   
    /* width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px; */
}
.side{
    width: 85%;
    margin-left: 170px;

  
}

