label{
    display: block;
}
textarea{
    display:block;
}
p{
    display: inline;
}
button{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
}
button:hover{
    border-color: rgb(192, 178, 178);
    background-color: rgb(129, 80, 80);
   }
mat-card{
    margin-top: 10px;
    height: 100%;
    box-shadow: 20px 20px 18px 20px #1e1a1a;
    border-radius: 1px;
}
input{
    padding-right: 80px;
    padding-top: 3px;
}
h1{
    text-align: center;
    padding-top: 20px;
    text-shadow: #1e1a1a;
    font-size: 30px;
}
h3{
    font-weight: 400px;
}