<div class="body">
    <div class="card" *ngFor ="let emp of employerData">
        <form [formGroup] = "feedbackForm"  (ngSubmit)="onSubmit(emp.name, emp.email)">
            <fieldset>
                <label>Name:<p>{{emp.name}}</p></label>
                <label>email:<p>{{emp.email}}</p></label>
                <label>Phone:<p>{{emp.phone}}</p></label>
                <label>Company:<p>{{emp.company}}</p></label>
                <label>Position:<p>{{emp.designation}}</p></label>
                 <label for="feedback">
                    Feedback:<textarea name="feedback" id="feedback" cols="50" rows="5" formControlName="feedback"></textarea >
                 </label>
            </fieldset>
            <button type="submit">Send</button>
        </form>  
        <button (click)="delete(emp._id)" >Delete</button>
        <button (click)="approve(emp)" >Approve</button>   
    </div>                                               
</div>
