<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span> APP LOGO </span>
        <div class="ms-auto">
            <button mat-stroked-button color="basic" class="m-1">Saved Jobs</button>
            <button mat-stroked-button color="basic" class="m-1">Applied Jobs</button>
            <button mat-stroked-button color="basic" class="m-1">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>