<!-- <mat-toolbar class="navbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div class="ms-auto">
            <button mat-stroked-button color="basic" class="m-1">View Jobs</button>
            <button mat-stroked-button color="basic" class="m-1">Applied Jobs</button>
            <button mat-stroked-button color="basic" class="m-1">Logout</button>
        </div>
</mat-toolbar-row>
  </mat-toolbar> -->

<mat-sidenav-container>
    <!-- <mat-sidenav #sidenav mode="side" opened>
        <app-side-navbar></app-side-navbar>
    </mat-sidenav> -->
    <mat-sidenav-content>
        <div style="height:88vh;">
            <div class="container">
                <mat-card class="m-2">
                    <div class="container" >
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Personal Details</h2>
                            </div>
                            <div class="col-md-2">
                                <button type="button" routerLink="/general-information"class="btn btn-light">Add/Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Name</h4>
                                <h6>{{alumnidata.name}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Email</h4>
                                <h6>{{alumnidata.email}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Phone Number</h4>
                                <h6>{{alumnidata.phone}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Gender</h4>
                                <h6>{{alumnidata.gender}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Date of Birth</h4>
                                <h6>{{alumnidata.date_of_birth}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Martial Status</h4>
                                <h6>{{alumnidata.marital_status}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Permanent Address</h4>
                                <h6>{{alumnidata.permanent_address}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Alternate Number</h4>
                                <h6>{{alumnidata.alternate_phone_number}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Pincode</h4>
                                <h6>{{alumnidata.pincode}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>District</h4>
                                <h6>{{alumnidata.district}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>State</h4>
                                <h6>{{alumnidata.state}}</h6>
                            </div>
                            <div class="col-md-4">
                                <h4>Country</h4>
                                <h6>{{alumnidata.country}}</h6>
                            </div>
                        </div>
                    </div>
                </mat-card> 
                <mat-card class="m-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Education</h2>
                            </div>
                            <div class="col-md-2">
                                <button type="button" routerLink="/education"class="btn btn-light">Add/Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4></h4>
                                <h4></h4>
                                <h4></h4>
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </mat-card>  
                <mat-card class="m-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Experience</h2>
                            </div>
                            <div class="col-md-2">
                                <button type="button" routerLink="/experiences"class="btn btn-light">Add/Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4></h4>
                                <h4></h4>
                                <h4></h4>
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </mat-card>  
            </div>
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

        
      
    
    
    
