<div class="container">
<form class="border border-dark">
    <div class="row g-0">
       <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Sign Up</span>
       </div>
    </div>
    <div class="row p-1">
        <div class="col mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
    </div>
    <div class="row p-1">
        <div class="col mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="col mb-3">
            <label for="phone" class="form-label">phone Number</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
    </div>
    <div class="row p-1">
       <div class="col mb-3">
        <label for="qualification" class="form-label">Highest Qulification</label>
        <input type="text" class="form-control" id="qualification" formControlName="qualification">
       </div>
       <div class="col mb-3">
        <label for="floatingSelect">Course Studied at ICTAK</label>
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Open this select menu</option>
              <option value="1">FSD</option>
              <option value="2">DSA</option>
              <option value="3">ML-AI</option>
              <option value="4">RPA</option>
              <option value="5">ST</option>
              <option value="6">CSA</option>
            </select>
          </div>
       </div>
    </div>
    <div class="row p-1">
        <div class="col mb-3">
            <label for="floatingSelect">Batch Details</label>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>Open this select menu</option>
                  <option value="1">KKEM</option>
                  <option value="2">NORKA</option>
                  <option value="3">KDISC</option>
                </select>
              </div>
        </div>
        <div class="col mb-3">
            <label for="floatingSelect">Placement Status</label>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>Open this select menu</option>
                  <option value="1">Placed</option>
                  <option value="2">Job-Seeking</option>
                  
                </select>
              </div>
        </div>
    </div>
    <div class="row p-1">
        <div class="col mb-3">
            <label for="name" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="company">
        </div>
    </div>

    <div class="row p-1">
        <div class="col mb-3">
            <button type="button" class="btn btn-primary">Sign UP</button>
        </div>
    </div>
</form>
</div>

