<nav class="navbar navbar-light" style=" background-color: rgb(190, 229, 229);">
  <div class="container-fluid p-1">
      <div class="ms-auto">
          <button mat-stroked-button color="basic" (click)="back()">Home</button>
          <button mat-stroked-button color="basic" class="m-2 me-4" routerLink="">Logout</button>
      </div>
  </div>
</nav>
<mat-sidenav-container>
  <mat-sidenav-content>
      <div style="height:88vh;">
        <div class="container">
        <mat-card class="m-2">
          <div class="container">
            <div>
              <h2 class="text-center" style="color:rgb(82, 82, 90)">Experience Details</h2>
            </div>
            <form #experienceForm="ngForm" (ngSubmit)="onsubmit()">
            <div class="row form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" name="company"
                placeholder="Company/Organization" [(ngModel)]="data.experience.company">
              </div>
            </div>
            <div class="row form-group">
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Designation"
                   placeholder="Designation/Designation" [(ngModel)]="data.experience.Designation">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="presently_working" 
                    placeholder="Presenting Working/Not" [(ngModel)]="data.experience.presently_working">
                  </div>
              </div>
            <div class="row form-group">
                <div class="col-md-2 mt-4">
                    <label for="">Starting Date :</label>
                </div>
              <div class="col-md-4">
                <input type="date" class="form-control" name="starting_date" [(ngModel)]="data.experience.starting_date">
              </div>
              <div class="col-md-2 mt-4">
                <label for="">Ending Date :</label>
            </div>
          <div class="col-md-4">
            <input type="date" class="form-control" name="ending_date" [(ngModel)]="data.experience.ending_date">
          </div>
            </div>
            <div class="row form-group">
              <div class="col-md-6">
                <input type="text" class="form-control" name="current_monthly_salary" 
                placeholder="Current monthly salary" [(ngModel)]="data.experience.current_monthly_salary">
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" name="notice_period"
                 placeholder="Notice Period" [(ngModel)]="data.experience.notice_period">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center m-4 ps-3 pe-3">
                  <button type="submit" class="btn btn-light">Save</button>
              </div>
             </div>
            </form>
          </div>
        </mat-card>   
        </div>
      </div>    
  </mat-sidenav-content>
</mat-sidenav-container>

        
             
       
