
  .form-control{
    background:transparent;
    border-radius: 0px;
    border:1px solid rgb(218, 211, 211);
    border-bottom: 1px solid rgb(218, 211, 211);
    margin-top: 15px;
    height: 40px;
    color: black;
    border-radius: 10px;
   }
