<app-header></app-header>
<body>
    <div class="wrapper"></div>
    <div class="container">
        <mat-card>
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="bg-light">
                <div class="row g-0">
                    <div class="col text-center p-2 mb-1 form-group bg-light">
                        <span class="fs-3">Sign Up</span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name">
                        <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
                            Name is required
                        </div>
                        <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] && (Name.touched || Name.dirty)">
                            Name is too short
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
                        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                            email is required
                        </div>
                        <div class="form-text text-danger" *ngIf="Email.errors?.['pattern'] && (Email.touched || Email.dirty)">
                            ***invalid email
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Phone Number" id="phone" formControlName="phone">
                        <div class="form-text text-danger" *ngIf="Phone.errors?.['required'] && (Phone.touched || Phone.dirty)">
                            phone number is required
                        </div>
                        <div class="form-text text-danger" *ngIf="Phone.errors?.['pattern'] && (Phone.touched || Phone.dirty)">
                            ***invalid phone number
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Company Name" id="company" formControlName="company">
                        <div class="form-text text-danger" *ngIf="Company_Name.errors?.['required'] && (Company_Name.touched || Company_Name.dirty)">
                            Field is invalid
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Designation" id="designation" formControlName="designation">
                        <div class="form-text text-danger" *ngIf="Designation.errors?.['required'] && (Designation.touched || Designation.dirty)">
                            Field is invalid
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col form-group">
                        <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">
                        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                            Field is invalid
                        </div>
                        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.touched || Password.dirty)">
                            password should contain atleast 8 and 15 charecters
                        </div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col mb-2" style="margin-left: 40%;">
                        <button type="submit"  [disabled]="!employeeForm.valid" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>
        </mat-card>
        
  
</div>
</body>
