<!-- <app-header></app-header> -->
<div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="border border-dark">
        <div class="row g-0">
            <div class="col text-center p-2 form-group bg-light">
                <span class="fs-3">Sign Up</span>
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <label for="email" class="form-label">Email Adress</label>
                <input type="text" class="form-control" id="name" formControlName="email">
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <label for="company" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="company" formControlName="company">
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
        </div>
        <div class="row p-1">
            <div class="col form-group">
                <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>