.navbar{
    height: 50px;
    background-color: aqua;
}
.card{
 
    background-color: #2efd059f;
   }
   button{
       border: none;
       background-color: rgb(14, 218, 31);
       margin: 10px;
       color: white;
       font-size: larger;
       text-decoration: none;
   }
   h3{
       text-align: center;
   }
   h2{
       text-align: center;
   }
   .example-card {
       
       margin: 10px;
       max-width: 360px;
     }
     
     .example-header-image {
       
       background-size: cover;
     }
     p{
        font-weight:500;
        font-size: larger;
     }