<div class="body">
  
  <nav class="navbar bg-light sticky-top" >
    <div class="container-fluid">
        <img src="../../../../assets/images/logo.png" alt="LOGO" class="logo">
      <div class="" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ms-auto">
            <button class="btn btn-outline-dark bttn" routerLink="/dashadmin">BACK</button>
            <button class="btn btn-outline-dark logout bttn" routerLink="/home">LOGOUT</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="tabs row container mx-auto">
    <button type="button" class="col-sm-5  active mx-auto tab btn btn-secondary" routerLink="/verifyalumni">Alumni verification</button>
    <button type="button" class=" col-sm-5  mx-auto tab btn btn-secondary" routerLink="/verifyemp">Employer Verification</button>
  </div>


<div class="container-fluid">
  <div class="row collect conatiner-fluid">
    <div *ngFor ="let alumni of alumniData" class="container col-lg-6 test">
        <mat-card class="card">
          <mat-card-content>
            <form [formGroup] = "feedbackForm " class="row" >
                <div class="col-md-6"><p>Name : </p><span>{{alumni.name}}</span></div>
                <div class="col-md-6"><p>email : </p><span>{{alumni.email}}</span></div> 
                <div class="col-md-6"><p>Phone : </p><span>{{alumni.phone}}</span> </div>
                <div class="col-md-6"><p>Hightest Qualification:</p><span>{{alumni.highest_qualification}}</span></div>
                <div class="col-md-6"><p>Selected Course:</p><span>{{alumni.course_started_at_ictak}}</span> </div>
                <div class="col-md-6"><p>Batch Name:</p><span>{{alumni.batch_details}}</span></div> 
                <div class="col-md-6 mx-auto"><p>Placement Status:</p><span>{{alumni.placement_status}}</span> </div>
                <div class="col-md-6 mx-auto"><p>Company name:</p><span *ngIf="alumni.company_name != null; else nil">{{alumni.company_name}}</span><ng-template #nil><span>nil</span></ng-template> </div>
                <p for="feedback" id="feedback">
                    Feedback : <textarea name="feedback" id="feedback"  formControlName="feedback"></textarea >
                </p>
        
                 <button type="button" class="btn button btn-outline-danger" (click)="delete(alumni._id)">Delete</button>
                 <button type="button" class="btn button btn-outline-success" (click)="approve(alumni)">Verify</button>
                 <button type="submit" class="btn button btn-outline-primary" (click)="onSubmit(alumni.name, alumni.email)">Send</button>

            </form>
        </mat-card-content>
    </mat-card>
  </div>
</div>
</div>