
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); 


.button{
    padding: 5px 10px;
    margin: 5px auto;
    background-color: #020f20;
    width: 100px
}



p {
    font-size: larger;
    font-family:  Geneva, Tahoma, sans-serif, serif;
    font-weight: 600;
    background-color: #75a8eb;
    display:block;
    margin-top: 5px;
    margin-bottom: 0px;
    padding:5px
}

span{
    font-weight: 500;
    color:rgb(221, 225, 237);
    background-color: #2f4562;
    display:block;
    padding:5px
}

#feedback{
    padding: 5px;
    display: block;
    max-width: 100em;
}
textarea{
    margin: 3px auto;
    background-color: #2f4562;
    color:rgb(221, 225, 237);
    box-sizing: border-box;
    width: 95%;
    height: auto;
    outline:none;
}

.card{
text-align: start;
background-color: #a3bfe4;
box-shadow: 3px 3px 5px;
min-width: 300px;

}
.body{
    background-color: rgb(223, 230, 233);
}

.test{
    margin: 5px auto;
}

/* .nav{
    background-color: #5878df;
    height:60px;
    position: sticky ;
    top:0px;
    z-index: 1;
    box-shadow: 0px 2px 5px #2a5fa9;;
    margin-bottom: 10px;
} */

.tabs{
    text-align-last: center;
}

.tab{
    margin: 20px 10px 
}

/* .body{
    padding-top: 10px;
} */

.active{
    background-color: #7ec6f9;
    color:#020f20;
    font-weight: 800;
   box-shadow:   -7px 7px 2px #036cff;
    border: 1px solid  #64a3fc;;
}

.navbar{
    
    background-color:#bed4f2 !important;
    width: 100% ;
    box-shadow: 1px 1px 3px 3px rgb(78, 127, 241);
    margin-bottom: 30px;
  }

  .logo{
    display: block;
    max-width:80px;
    scale:4;
    aspect-ratio: auto;
    padding-left: 20px;
    /* border: 1px solid red; */
}

.bttn{
    margin-right: 5px;
}
  
/* .collect{
    background-color: #b6d8ef;
    padding: 20px;
    border-radius: 10px;
} */