

<div class="body">
    <form [formGroup] = "feedbackForm "  (ngSubmit)="onSubmit()">
        <fieldset>
            <label>Name:<p></p></label>
            <label>email:<p></p></label>
            <label>Phone:<p></p></label>
            <label>Hightest Qualification:<p></p></label>
            <label>Selected Course:<p></p></label>
            <label>Batch Name:<p></p></label>
            <label>Placement Status:<p></p></label>
            <label>Company Name:<p></p></label>
             <label for="feedback">
                Feedback:<textarea name="feedback" id="feedback" cols="50" rows="5" formControlName="feedback"></textarea >
             </label>
        </fieldset>
        <button type="submit">Send</button>
    </form>  
    <button>Delete</button>
    <button>Approve</button>                                                  
</div>
