

<main id="main" class="main">
   <div class="pagetitle">
       <!-- <h1>Approved Curriculums </h1> -->
       <nav>
           <!-- <ol class="breadcrumb">
               <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
               <li class="breadcrumb-item">Tables</li>
               <li class="breadcrumb-item active">Data</li>
           </ol> -->
       </nav>
   </div>
   <section class="section dashboard">
       <div class="row">
            <div class="col-xxl-4 col-md-4">
               <div class="card info-card revenue-card">

                  <div class="card-body">
                     <h5 class="card-title">JOB <span>| Approved</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i
                              class="bi bi-check-circle"></i></div>
                        <div class="ps-3">
                           <!-- <h6>{{ approvedcount}}</h6> -->
                           <!-- <span class="text-success small pt-1 fw-bold">Admin</span> 
                           <span class="text-muted small pt-2 ps-1">Approved</span> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-md-4">
               <div class="card info-card customers-card">

                  <div class="card-body">
                     <h5 class="card-title">Response <span>| job</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                              class="bi bi-dash-circle"></i></div>
                        <div class="ps-3">
                           <!-- <h6>{{notapprovedcount}}</h6> -->
                           <!-- <span class="text-danger small pt-1 fw-bold">Admin</span> 
                           <span class="text-muted small pt-2 ps-1">Pending</span> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-4 col-md-4">
               <div class="card info-card sales-card">

                  <div class="card-body">
                     <h5 class="card-title">Job <span>| List</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                              class="bi bi-exclamation-circle"></i></div>
                        <div class="ps-3">
                           <!-- <h6>{{responsependingcount}}</h6> -->
                           <!-- <span class="text-danger small pt-1 fw-bold">Pending</span> <span
                              class="text-muted small pt-2 ps-1"></span> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>

