

<main id="main" class="main">
   <div class="pagetitle">
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-4 col-md-4 ">
                  <div class="card info-card revenue-card boxes">

                     <div class="card-body text-center">
                        <h3>{{job}}+</h3>
                        <h2><b>JOBS</b></h2>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i
                                 class="bi bi-check-circle"></i></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4 ">
                  <div class="card info-card customers-card boxes">

                     <div class="card-body text-center">
                        <h3>{{Company}}+</h3>
                        <h2><b>COMPANY</b></h2>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                 class="bi bi-dash-circle"></i></div>
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4 ">
                  <div class="card info-card sales-card boxes">

                     <div class="card-body text-center">
                        <h3>{{users}}+</h3>
                        <h2><b>USERS</b></h2>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                 class="bi bi-exclamation-circle"></i></div>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="col-12 mt-4">
                  <div class="card recent-sales overflow-auto">

                     <div class="card-body">
                        
                        <table class="table table-borderless datatable">
                           <thead>
                              <tr >
                                 <th scope="col">#</th>
                                 <th scope="col">Job</th>
                                 <th scope="col">CompanyName</th>
                                 <th scope="col">PostedBy</th>
                                
                              </tr>
                           </thead>
                           <tbody>
                              <tr  *ngFor="let list of jobs;let i = index">          
                                      <!-- *ngFor="let list of currlists;let i = index"> -->
                                 <th scope="row">{{i+1}}</th>
                                 <td>{{list.jobTitle}}</td>
                                 <td>{{list.companyName}}</td>
                                 <td>{{list.postedBy}}</td>
                                 
                              </tr>
                             
                              
                             
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>

            </div>
         </div>

      </div>
   </section>
</main>