.spacer{
    flex:1 1 auto;
}

.color{
    margin-left: 10px;
    background: transparent;
    color: white;
}

h4{
    color: rgb(55, 117, 74);
    font-weight: 500;
}

nav{
    background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgb(44, 38, 41)35%, rgba(9,9,121,1)100%);
    
}
.logo{

     display: block;
     max-width:100px;
     max-height:50px;
     scale:5;
     aspect-ratio: auto;
     padding-left: 20px;
     /* border: 1px solid red; */
}

mat-card{
    padding:20px;
    margin: 15px;
} 
.cards{
    padding: 50px;
    margin-left: 10px;
    font-size: 18px;
    background: linear-gradient(90deg, rgb(71, 64, 67)0%, rgb(76, 76, 95)35%, rgb(80, 149, 163)100%);
}
.cards h3{
    color: white;
    font-size: 30px;
}
p{
    color: white;
}
h2{
    
    color: rgb(73, 49, 100);
} 
h1{
    font-size: 30px;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
}

.card{
    background: linear-gradient(90deg, rgb(71, 64, 67)0%, rgb(76, 76, 95)35%, rgb(80, 149, 163)100%);
    text-align: center;
}
.card h2{
    color: white;
}

.card h1{
    color: white;
    margin-top: 50px;
}
.job{
 background: white;
}
.job:hover{
    transform: scale(1.10);
}
.imgBox{
    width:100px;
    height: 100px;
    margin: auto;
    border: 1px dashed #262626;
    border-radius: 50%;
    overflow: hidden;
}
.imgBox img{
    width: 100%;
}
.carousel-inner{
    background:rgb(218, 209, 216);
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(153, 149, 149, 0.5);
}
.carousel-caption {
    position: static;
    padding-bottom: 15px;
    padding-top: 0;
}

.carousel-caption h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-family: allura;
    color: #262626;
    text-shadow: none;
}

.carousel-caption h4{
    color: #262626;
    text-shadow: none;
}
.carousel-caption p{
    font-size: 18px;
    margin: auto;
    width:70%;
    margin-bottom: 10px;
    font-family: teko;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: none;
    color: #262626;
}


.carousel-control{
    color: #262626;
}
.carousel-indicators .active{
    background-color: #2b2626;
    width: 20px;
}
.carousel-indicators{
    top: 90%;
    bottom: 10px;
   
}







