

img{
    margin: 10px;
    
}
marquee{
    font-size: 16px;
    color: orange;
}
h1{
    color: orange;
    font-weight: 600;
}
mat-card{
    padding:20px;
    margin: 15px;
}
.cards{
    border: 1px solid orange;
    padding: 50px;
    margin-left: 10px;
    font-size: 18px;
    background-color: orange;
}
h4{
    color: white;
}
p{
    color: white;
}
h2{
    font-size: 27px;
    color: rgb(235, 157, 14);
}