<app-header></app-header>
<div class="container-fluid top">
    <div class="row">
       
</div>
<div class="container" >
    <div class="row mt-5">
        <div class="col-md-8 academy">
            <h1>Build your Career with ICTAK</h1>
            <h3>ICT Academy of Kerala (ICTAK) is a social enterprise officially
                launched on the 24th of June, 2014. The organization had a humble
                beginning providing skill training programs to selected academic
                institutions. Over the years, ICTAK has grown to a prime service
                provider of all ICT and innovation-related training and
                capacity-building programs in the state.ICT Academy of Kerala provides
                 the best quality education to upskill the youths across the state 
                 in various sectors. Join our courses and build your future!
            </h3>
            </div>
            <div class="col-md-4">
                <img src="assets/images/image2.jpg" alt="">
            </div>
    </div>
</div>

    <div class="client-count-wrp ">
        <div class="container">
            <div class="client-count-wrp-inner row">
                <div class="cards col">
                    <h3>{{seekers}}+</h3>
                    <p>Talent seekers</p>
                </div>
                <div class="cards col">
                    <h3>{{trainers}}+</h3>
                    <p>Trained Talents</p>
                </div>
                <div class="cards col">
                    <h3>{{registeredcount}}+</h3>
                    <p>Registered Talents</p>
                </div>
                <div class="cards col">
                    <h3>{{works}}+</h3>
                    <p>Works and Projects</p>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid pt-5">
   
    <marquee behavior="alternate" direction="left">
    <div class="row "> 
        <div class="col-md-2">
            <img src="../assets/images/cyberpark.png" alt="">
        </div>
        <div class="col-md-2 ">
            <img src="../assets/images/keralait.png" alt="">
        </div>
        <div class="col-md-2">
            <img src="../assets/images/ksm.png" alt="">
        </div>
        <div class="col-md-2">
            <img src="../assets/images/technopark.png" alt="">
        </div>
       
        <div class="col-md-2">
            <img src="../assets/images/cii.png" alt="">
        </div>
        <div class="col-md-2">
            <img src="../assets/images/gtech.png" alt="">
        </div>
    </div>
</marquee> 
</div>


<!-- <body>
    <div class="container">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
        </div>
    </div>
</body> -->

<app-footer></app-footer>

  





